Repository Vielheim/TourMate, pull requests merged in 2022-03, with the labels that each got.

#17 Add Trip and Plan models
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/MockModel.swift
  TourMate/TourMate/Models/Accommodation.swift
  TourMate/TourMate/Models/Activity.swift
  TourMate/TourMate/Models/Flight.swift
  TourMate/TourMate/Models/MockModel.swift
  TourMate/TourMate/Models/Model.swift
  TourMate/TourMate/Models/Plan.swift
  TourMate/TourMate/Models/Restaurant.swift
  TourMate/TourMate/Models/Transport.swift
  TourMate/TourMate/Models/Trip.swift
Labels: feat.trip, feat.plan

#22 Set Up user authentication
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/AuthenticationManager/AuthenticationManager.swift
  TourMate/TourMate/AuthenticationManager/FirebaseAuthenticationManager.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/AuthenticationType.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/AuthenticationView.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/Components/AuthPageLogIn.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/Components/AuthPageRegister.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/Components/AuthPageStatusDisplay.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/Components/AuthPageSubmitButton.swift
  TourMate/TourMate/AuthenticationViews/AuthPageViews/Components/HomeNavigationView.swift
  TourMate/TourMate/AuthenticationViews/Launch/LaunchView.swift
  TourMate/TourMate/AuthenticationViews/Launch/LogInTitleView.swift
  TourMate/TourMate/AuthenticationViews/Launch/TourMateTitleView.swift
  TourMate/TourMate/AuthenticationViews/LogOutView.swift
  TourMate/TourMate/AuthenticationViews/TextViews/InputSecureField.swift
  TourMate/TourMate/AuthenticationViews/TextViews/InputTextField.swift
  TourMate/TourMate/ContentView.swift
  TourMate/TourMate/Controllers/AuthenticationController.swift
  TourMate/TourMate/Launch/LogInView.swift
  TourMate/TourMate/Launch/RegisterView.swift
  TourMate/TourMate/TourMateApp.swift
  TourMate/TourMateTests/TourMateTests.swift
Labels: feat.database, feat.UI, feat.user

#21 Create data objects
  TourMate/Podfile
  TourMate/Podfile.lock
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Datas/AnyFirebaseAdaptedPlan.swift
  TourMate/TourMate/Datas/FirebaseAdaptedAccommodation.swift
  TourMate/TourMate/Datas/FirebaseAdaptedActivity.swift
  TourMate/TourMate/Datas/FirebaseAdaptedFlight.swift
  TourMate/TourMate/Datas/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Datas/FirebaseAdaptedPlanType.swift
  TourMate/TourMate/Datas/FirebaseAdaptedRestaurant.swift
  TourMate/TourMate/Datas/FirebaseAdaptedTransport.swift
  TourMate/TourMate/Datas/FirebaseAdaptedTrip.swift
Labels: feat.database

#28 Create form views
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/AccommodationFormView.swift
  TourMate/TourMate/ActivityFormView.swift
  TourMate/TourMate/AddPlanView.swift
  TourMate/TourMate/FlightFormView.swift
  TourMate/TourMate/Models/DataModels/AnyFirebaseAdaptedPlan.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedAccommodation.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedActivity.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedFlight.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedPlanType.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedRestaurant.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedTransport.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedTrip.swift
  TourMate/TourMate/Models/DomainModels/Accommodation.swift
  TourMate/TourMate/Models/DomainModels/Activity.swift
  TourMate/TourMate/Models/DomainModels/Flight.swift
  TourMate/TourMate/Models/DomainModels/MockModel.swift
  TourMate/TourMate/Models/DomainModels/Model.swift
  TourMate/TourMate/Models/DomainModels/Plan.swift
  TourMate/TourMate/Models/DomainModels/Restaurant.swift
  TourMate/TourMate/Models/DomainModels/Transport.swift
  TourMate/TourMate/Models/DomainModels/Trip.swift
  TourMate/TourMate/PackingListView.swift
  TourMate/TourMate/RestaurantFormView.swift
  TourMate/TourMate/TransportFormView.swift
  TourMate/TourMate/TripFormView.swift
  TourMate/TourMate/TripView.swift
  TourMate/TourMate/TripsView.swift
Labels: feat.trip, feat.plan, feat.UI

#43 Fix navigation problem
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/AuthenticationViews/LaunchView.swift
  TourMate/TourMate/ContentView.swift
  TourMate/TourMate/TourMateApp.swift
  TourMate/TourMate/TripsView.swift
Labels: feat.UI

#49 Fix Trip not showing
  TourMate/TourMate/PersistenceManager/FirebasePersistenceManager.swift
  TourMate/TourMate/Views/Trip/TripView.swift
Labels: bug

#45 Add PlansViewModel
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/AccommodationFormView.swift
  TourMate/TourMate/ActivityFormView.swift
  TourMate/TourMate/AddPlanView.swift
  TourMate/TourMate/ContentView.swift
  TourMate/TourMate/Controllers/MockPlanController.swift
  TourMate/TourMate/Controllers/PlanPersistenceController.swift
  TourMate/TourMate/Controllers/PlanPersistenceControllerProtocol.swift
  TourMate/TourMate/FlightFormView.swift
  TourMate/TourMate/Models/Adapter/PlanAdapter.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedAccommodation.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedActivity.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedFlight.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedRestaurant.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedTransport.swift
  TourMate/TourMate/Models/DomainModels/Accommodation.swift
  TourMate/TourMate/Models/DomainModels/Activity.swift
  TourMate/TourMate/Models/DomainModels/Flight.swift
  TourMate/TourMate/Models/DomainModels/Plan.swift
  TourMate/TourMate/Models/DomainModels/Restaurant.swift
  TourMate/TourMate/Models/DomainModels/Transport.swift
  TourMate/TourMate/Plan/AddPlanViewModel.swift
  TourMate/TourMate/Plan/DetailsViews/AccommodationView.swift
  TourMate/TourMate/Plan/DetailsViews/ActivityView.swift
  TourMate/TourMate/Plan/DetailsViews/FlightView.swift
  TourMate/TourMate/Plan/DetailsViews/RestaurantView.swift
  TourMate/TourMate/Plan/DetailsViews/TransportView.swift
  TourMate/TourMate/Plan/PlanViewModel.swift
  TourMate/TourMate/Plan/PlansListView.swift
  TourMate/TourMate/Plan/PlansViewModel.swift
  TourMate/TourMate/RestaurantFormView.swift
  TourMate/TourMate/TourMateApp.swift
  TourMate/TourMate/TransportFormView.swift
  TourMate/TourMate/Views/Trip/TripView.swift
  TourMate/TourMate/Views/Trips/TripsView.swift
Labels: feat.plan

#65 Update user profile each time the user logs into the application
  TourMate/TourMate/Controllers/FirebaseUserController.swift
  TourMate/TourMate/Managers/FirebaseAuthenticationManager.swift
  TourMate/TourMate/Models/DataModels/FirebaseAdaptedUser.swift
  TourMate/TourMate/Models/DomainModels/User.swift
Labels: feat.user

#79 Add method to invite user to Trip
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Trip/Views/AttendeesView/AttendeesView.swift
  TourMate/TourMate/Frontend/Trip/Views/EditTripView/EditTripView.swift
  TourMate/TourMate/Frontend/Trip/Views/InviteUserView/InviteUserView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripViewModel.swift
  TourMate/TourMate/Frontend/User/Controllers/FirebaseUserController.swift
  TourMate/TourMate/Frontend/User/Controllers/UserController.swift
  TourMate/TourMate/Frontend/User/Views/UserIconView.swift
Labels: feat.trip, feat.user

#81 Implement Plan validation
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/AddPlanFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/AddPlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/AddPlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/AccommodationFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/ActivityFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/FlightFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/RestaurantFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/TransportFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/Components/ConfirmedToggle.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditAccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditFlightView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditPlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditRestaurantView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditTransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/AccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/ActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/FlightView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/RestaurantView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/TransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansListView.swift
  TourMate/TourMate/Frontend/Trip/Views/AddTripView/AddTripViewModel.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripView.swift
Labels: feat.trip, feat.plan

#83 Voting plans
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedAccommodation.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedActivity.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedFlight.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedRestaurant.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedTransport.swift
  TourMate/TourMate/Frontend/Plan/Models/Accommodation.swift
  TourMate/TourMate/Frontend/Plan/Models/Activity.swift
  TourMate/TourMate/Frontend/Plan/Models/Flight.swift
  TourMate/TourMate/Frontend/Plan/Models/Plan.swift
  TourMate/TourMate/Frontend/Plan/Models/Restaurant.swift
  TourMate/TourMate/Frontend/Plan/Models/Transport.swift
  TourMate/TourMate/Frontend/Plan/Services/MockPlanService.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/AddPlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/PlanStatusView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/AccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/ActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/FlightView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/RestaurantView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/TransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/Components/PlanCardView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansListView.swift
  TourMate/TourMate/Frontend/Plan/Views/UpvotePlanView/Components/UpvoteButton.swift
  TourMate/TourMate/Frontend/Plan/Views/UpvotePlanView/Components/UpvotedUsersView.swift
  TourMate/TourMate/Frontend/Plan/Views/UpvotePlanView/UpvotePlanView.swift
  TourMate/TourMate/Frontend/User/Views/UserIconView.swift
  TourMate/TourMate/Shared/Adapters/PlanAdapter.swift
Labels: feat.plan, feat.user

#85 Adding comments to Plan
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Persistence/Config/FirebaseConfig.swift
  TourMate/TourMate/Backend/Persistence/Models/Base/FirebaseAdaptedType.swift
  TourMate/TourMate/Backend/Persistence/Models/Comment/FirebaseAdaptedComment.swift
  TourMate/TourMate/Frontend/Plan/Models/Components/Comment.swift
  TourMate/TourMate/Frontend/Plan/Services/CommentService.swift
  TourMate/TourMate/Frontend/Plan/Services/FirebaseCommentService.swift
  TourMate/TourMate/Frontend/Plan/Services/MockCommentService.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/CommentView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/Components/CommentIconView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/Components/CommentTextView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/EditCommentView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentsView/CommentListView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentsView/CommentsView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentsView/CommentsViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/AccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/ActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/FlightView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/RestaurantView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/TransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/Components/PlanCardView.swift
  TourMate/TourMate/Frontend/User/Services/MockUserService.swift
  TourMate/TourMate/Shared/Adapters/CommentAdapter.swift
Labels: feat.plan

#90 Implement autocomplete feature in the frontend
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Plan/Models/Components/Location.swift
  TourMate/TourMate/Frontend/Plan/Services/LocationService.swift
  TourMate/TourMate/Frontend/Plan/Services/MockLocationService.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/AccommodationFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/ActivityFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/FlightFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/RestaurantFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanViews/PlanFormViews/TransportFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/AddressTextField.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/ConfirmedToggle.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchView.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditAccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditFlightView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditRestaurantView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanViews/EditTransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/MapView.swift
  TourMate/TourMate/Shared/Utils/TaskExtensions.swift
Labels: feat.plan
