Repository Vielheim/TourMate, pull requests merged in 2022-04, with the labels that each got.

#105 Implement address autocomplete
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Network/Models/APICall.swift
  TourMate/TourMate/Backend/Network/Models/APIError.swift
  TourMate/TourMate/Backend/Network/Models/AutocompleteQuery.swift
  TourMate/TourMate/Backend/Network/Models/GeoapifyResult.swift
  TourMate/TourMate/Backend/Network/Models/JsonAdaptedLocation.swift
  TourMate/TourMate/Backend/Network/Repository/LocationWebRepository.swift
  TourMate/TourMate/Backend/Network/Repository/WebRepository.swift
  TourMate/TourMate/Frontend/Config/ApiConfig.swift
  TourMate/TourMate/Frontend/Plan/Models/Components/Location.swift
  TourMate/TourMate/Frontend/Plan/Services/MockLocationService.swift
  TourMate/TourMate/Frontend/Plan/Services/RealLocationService.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchView.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchViewModel.swift
  TourMate/TourMate/Misc/Info.plist
  TourMate/TourMate/Secret/ApiKeys.swift
  TourMate/TourMate/Shared/Adapters/LocationAdapter.swift
Labels: feat.plan

#119 Implement Map view
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddPlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/AddressTextField.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditPlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/PlanFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/PlanFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/MapView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/TimingView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/PlanView.swift
Labels: feat.plan, feat.UI

#122 Fix map view
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Plan/Models/Components/Location.swift
  TourMate/TourMate/Frontend/Plan/Services/MockLocationService.swift
  TourMate/TourMate/Frontend/Plan/Views/Common/SearchView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/MapView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/MapViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/TimingView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/PlanView.swift
Labels: bug, feat.plan, feat.UI

#127 Fix trip navigation problem
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Trip/Views/TripsView/Components/TripCard.swift
Labels: bug

#129 Fix the bug where autocomplete fails to fetch if there are spaces
  TourMate/TourMate/Backend/Network/Models/AutocompleteQuery.swift
Labels: bug

#121 View cleanup
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Persistence/Repository/FirebaseRepository.swift
  TourMate/TourMate/Frontend/Common/ViewModelFactory.swift
  TourMate/TourMate/Frontend/Main/ContentView.swift
  TourMate/TourMate/Frontend/Plan/Models/Components/Comment.swift
  TourMate/TourMate/Frontend/Plan/Services/FirebaseCommentService.swift
  TourMate/TourMate/Frontend/Plan/Services/FirebasePlanService.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/CommentView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/Components/CommentTextView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentView/EditCommentView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentsView/CommentListView.swift
  TourMate/TourMate/Frontend/Plan/Views/CommentViews/CommentsView/CommentsView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditPlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/AdditionalInfoView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDetailsViews/PlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/Components/PlanCardView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansCalendarView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansDayView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansListView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansViewModel.swift
  TourMate/TourMate/Frontend/Trip/Services/FirebaseTripService.swift
  TourMate/TourMate/Frontend/Trip/Views/AddTripView/AddTripView.swift
  TourMate/TourMate/Frontend/Trip/Views/EditTripView/EditTripView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/AttendeesView/AttendeesView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/InviteUserView/InviteUserView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripViewModel.swift
Labels: feat.UI

#148 Shift upvotes to a collection with its dedicated VM
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Persistence/Config/FirebaseConfig.swift
  TourMate/TourMate/Backend/Persistence/Models/Base/FirebaseAdaptedType.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Backend/Persistence/Models/PlanUpvote/FirebaseAdaptedPlanUpvote.swift
  TourMate/TourMate/Frontend/Common/ViewModelFactory.swift
  TourMate/TourMate/Frontend/Plan/Delegates/PlanUpvoteEventDelegate.swift
  TourMate/TourMate/Frontend/Plan/Models/Components/PlanUpvote.swift
  TourMate/TourMate/Frontend/Plan/Models/Plan.swift
  TourMate/TourMate/Frontend/Plan/Services/FirebasePlanUpvoteService.swift
  TourMate/TourMate/Frontend/Plan/Services/MockPlanService.swift
  TourMate/TourMate/Frontend/Plan/Services/MockPlanUpvoteService.swift
  TourMate/TourMate/Frontend/Plan/Services/PlanUpvoteService.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditPlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/Components/PlanBoxView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/Components/PlanCardView.swift
  TourMate/TourMate/Frontend/Plan/Views/UpvotePlanView/PlanUpvoteViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/UpvotePlanView/UpvotePlanView.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripViewModel.swift
  TourMate/TourMate/Shared/Adapters/PlanAdapter.swift
  TourMate/TourMate/Shared/Adapters/PlanUpvoteAdapter.swift
  TourMate/TourMate/Shared/Constants/Constants.swift
Labels: bug, feat.plan, feat.UI

#154 Fix bug
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/PlanFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlansViews/PlansViewModel.swift
Labels: bug

#156 Add Plan types
  TourMate/TourMate.xcodeproj/project.pbxproj
  TourMate/TourMate/Backend/Config/AppConfig.swift
  TourMate/TourMate/Backend/Persistence/Models/Base/FirebaseAdaptedType.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedAccommodation.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedActivity.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedPlan.swift
  TourMate/TourMate/Backend/Persistence/Models/Plan/FirebaseAdaptedTransport.swift
  TourMate/TourMate/Frontend/Common/ViewModelFactory.swift
  TourMate/TourMate/Frontend/Plan/Models/Accommodation.swift
  TourMate/TourMate/Frontend/Plan/Models/Activity.swift
  TourMate/TourMate/Frontend/Plan/Models/Plan.swift
  TourMate/TourMate/Frontend/Plan/Models/Transport.swift
  TourMate/TourMate/Frontend/Plan/Services/MockPlanService.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddAccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddAccommodationViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddActivityViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddPlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddTransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/AddPlanView/AddTransportViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditAccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditAccommodationViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditActivityViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditTransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/EditPlanView/EditTransportViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/AccommodationFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/AccommodationFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/ActivityFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/ActivityFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/Components/AddressTextField.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/Components/ConfirmedToggle.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/Components/StartEndDatePicker.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/PlanFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/PlanFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/TransportFormView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanFormView/TransportFormViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/AccommodationView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/AccommodationViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/ActivityView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/ActivityViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/Components/PlanHeaderView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanDisplayViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/PlanViewModel.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/TransportView.swift
  TourMate/TourMate/Frontend/Plan/Views/PlanViews/TransportViewModel.swift
  TourMate/TourMate/Frontend/Trip/Views/TripView/TripView.swift
  TourMate/TourMate/Shared/Adapters/PlanAdapter.swift
  TourMate/TourMate/Shared/Utils/ViewExtension.swift
Labels: feat.plan
